/*
*	v08.22
*
*/

@media only screen and (max-width: 992px) {

.miniCart .subscriptionTerms {
	margin-left: -60px;
}

#paypalImg, #boletoImg, #oxxoImg, #offlinePayment, #directDebit, #netBanking, #qiwi, #yandex, #webmoney, #PR24 {
	margin-top: 5px !important;
	margin-bottom: 0px !important;
	padding-left: 0px;
}

#paypalImg img, #boletoImg img, #oxxoImg img, #offlinePayment img, #directDebit img, #netBanking img, #qiwi img, #yandex img, #webmoney img, #PR24 img  {
	position: relative;
	left: 305px;
	top: -37px;
	margin-bottom: -32px;
}

#enterCVV {
    padding-top: 2px !important;
}

.ppTextMessage, .boletoTextMessage, .oxxoTextMessage, .offlineTextMessage, .directDebitMessage, .netBankingMessage, .qiwiMessage, .yandexMessage, .webmoneyMessage, .PR24Message {
	margin-top: 5px !important;
	padding-left: 0px !important;
}

.shippingAdd {
	margin-top: 10px;
}

} /* closes 992px query */

@media only screen and (max-width: 768px) {

.accountInformation .col-sm-6 form.p10Right {
	padding-right: 0px !important;
}

.accountInformation .col-sm-6 form.p10Left {
	padding-left: 0px !important;
}

.accountInformation .col-sm-6 div.login-form.p10Left {
	padding-left: 0px !important;
}

.emailCheckbox input[type="checkbox"] + label {
	width: 90%;
}

#paypalImg, #boletoImg, #oxxoImg, #offlinePayment, #directDebit, #netBanking, #qiwi, #yandex, #webmoney, #PR24 {
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}

#paypalImg img, #boletoImg img, #oxxoImg img, #offlinePayment img, #directDebit img, #netBanking img, #qiwi img, #yandex img, #webmoney img, #PR24 img{
	position: static;
	left: 0px;
	top: 0px;
	margin-bottom: 2px;
}

#cvvCodeImageCC .cvvImageCopy span, #phoneDiv #phoneHelpText span, #vatHelpText span {
	padding-right: 40px;
}

#cvvCodeImageCC img {
}

#cvvCodeImageCC .cvvImageCopy {
	width: 50%;
}

.ppTextMessage, .boletoTextMessage, .oxxoTextMessage, .offlineTextMessage, .directDebitMessage, .netBankingMessage{
	float: left;
	margin-top: 5px !important;
	padding-left: 0px !important; 
}

.bottom .container p.symLogo { 
	width: 100%;
	margin: 0;
}

.bottom .container ul {
	width: 100%;
}

.bottom .container ul li:first-child {
	width: 100%;
	padding: 5px 0 10px;
	float: none;
}

.bottom .container ul li:nth-child(2) {
	border: none;
	padding-left:0;
}

#CallingCodelist, .customDropDownSkin {
	height: 250px !important;
}

}  /* closes 768px media query */

@media only screen and (max-width: 450px) {

.spinnerBorder, .spinnerBorder1 {
	top: 120px !important;
}

.checkOut .headingBar {
	font-size: 14px !important;
	line-height: 20px;
}

#emptyCart .headingBar {
	padding-left: 20px !important;
}

#emptyCart #emptyCartSingleton {
	margin: 20px 20px 0px 20px !important;
}

#emptyCart .emptyCartCopy {
	min-height: 267px !important;
	padding-right: 20px;
}

#emptyCart .emptyCartCopy a {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 16px !important;
}

#cartAcceptedPayments .weAcceptCopy {
	display: block !important;
	margin: 0 0 5px 0 !important;
	text-align: right !important;
}

#Norton_Cart .couponSec {
/*  width: 80% !important;*/
  padding-left: 10px;
}

#Norton_Cart .cartTotal tr td:first-child {
 	text-align: left !important;
}

#Norton_Cart #orderSide.col-sm-4 {
	left: 0px !important;
}

#cartAcceptedPayments .weAcceptCopy {
	font-size: 16px !important;
	font-weight: 600m!important;
}

#emailUserVal {
	width: auto !important;
}

.editInfoLink, span#logInInfoLink, #cart_trigger {
	line-height: 20px !important;
}

#subscriptionArMessage {
	left: 4% !important;
	width: 92% !important;
	margin-bottom: -20px !important;
	padding-bottom: 0px !important;
}

#subscriptionArMessage #subscriptionArMessageContainer {
	top: -20px;
	width: 105%;
}

#subscriptionArMessage h3 {
	font-size: 15px !important;
	width: 90% !important;
}

#subscriptionArMessage li {
	font-size: 12px !important;
}

#enterCVV {
  font-size: 12px !important;
  margin-bottom: -2px !important;
}

#cvvCodeImageCC img {
	float: none;
	width: 80%;
}

#cvvCodeImageCC .cvvImageCopy span, #phoneDiv #phoneHelpText span, #vatIdHelpLink span {
	padding-right: 0px !important;
	width: 100% !important;
}

#cvvCodeImageCC .cvvImageCopy {
	margin: 6px 0 0 0px !important;
	font-size: 12px !important;
	width: 100% !important;
	clear: both;
	float: left !important;
}

.price-box tr {
	text-align: left !important;
}

.price-box td:first-child {
	width: 45% !important;
}

tr.subscriptionReview, tr.subscriptionMessageReview {
	font-size: 14px !important;
}

.sub-info .holder .col {
	width: 100% !important;
	padding: 0px !important;
}

.sub-info .holder .col:first-child {
	padding-top: 5px !important;
}

.nortonEULA .eulaTextPos {
	width: 90%;
}

#arMessage {
	width: 90% !important;
}

.sub-info-noB .arHelpLinkCopy {
	padding-right: 10px !important;
}

.subtotal-table {
	font-size: 16px !important;
}

#orderReview .msOffice {
	width: 95% !important;
}

#main #reviewTotal input[type="submit"] {
	font-size: 16px !important;
	width: 100% !important;
}

#Norton_Cart .toBilling {
	width: 100% !important;
}

#reviewTotal .emailCheckbox {
	width: 100% !important;
}

#reviewTotal .activateMessage {
	text-align: left;
	padding-right: 10px;
}

.link-holder {
	text-align: left !important;
}

.link-holder #confirmSubmit, .link-holder #confirmEmeaSubmit {
	width: 100%;
	font-size: 20px !important;
}

#CallingCodelist, .customDropDownSkin {
}

#Norton_Cart #form-id input[type="submit"] {
    font-size: 18px !important;
}
#Norton_Cart #checkout {
    padding: 15px 0px !important;
}

}	/* closes 450px media query */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

a {
	text-decoration: none;
}

a, a:hover, a:focus, a:visited {
	color: #FE6F20;
}

a:focus {
    outline: none;
}

body {
	margin: 0;
	color: #595959;
	background: #fff;
	font: 14px/1.3 Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}

input[type="email"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

img {
	border-style: none;
	vertical-align: top;
}

input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	color: #808080;
	vertical-align: middle;
}

.customSelectSkin .month {
	width: 100%;
}

.customSelectSkin select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 5px 0 0 0;
	font-size: 12px;
	padding: 0 0 0 5px;
	height: 29px;
	box-sizing: border-box;
	border: 1px solid #E2E2E2;
	background: #F2F2F2 none repeat scroll 0% 0%;
	/* hides default select arrows */
	appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
	text-indent: 1px;
    text-overflow: '';
	border-radius: 0px;
	outline: none;
}

.customSelectSkin select {
	/* custom arrows option 1 */
	background-image:
		linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%),
		linear-gradient(to right, #ccc, #ccc);
	background-position:
		calc(100% - 15px) calc(1em),
		calc(100% - 10px) calc(1em),
		calc(100% - 2.5em) 3em;
	background-size:
		5px 5px,
		5px 5px,
	    1px 1.5em;
	background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#callingCodeValue, #callingCodeValueShip {
    	/* custom arrows option 1 */
		background-image:
			linear-gradient(45deg, transparent 50%, gray 50%),
			linear-gradient(135deg, gray 50%, transparent 50%),
			linear-gradient(to right, #ccc, #ccc);
		background-position:
			calc(100% - 15px) calc(1em),
			calc(100% - 10px) calc(1em),
			calc(100% - 2.5em) 3em;
		background-size:
			5px 5px,
			5px 5px,
		    1px 1.5em;
		background-repeat: no-repeat;
	}
}

.customSelectSkin select:focus {
	border: solid 1px #969696;
}

.customSelectSkin .year {
	width: 100%;
	max-width: 95%;
}

/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

input[type="submit"]:hover,
button:hover {
	cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	border: 1px solid #e2e2e2;
	height: 29px;
}

.accountInformation .accountContentPosition input[type="text"], .accountInformation .accountContentPosition input[type="email"], .accountInformation .accountContentPosition input[type="password"] {
	width: 100%;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #969696;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: #808080;
}

:-moz-placeholder {
	color: #808080;
}

::-moz-placeholder {
	color: #808080;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #808080;
}

/* bootstap fixes */



/* / bootstrap fixes */

.dispNone {
	display: none;
}

.floatLeft {
	float:left;
}

.clearb{
	clear:both;
}
.clearr{
    clear:right;
}
.clearl{
    clear:left;
}

.floatRight {
	float: right;
}

.strong {
	font-weight: 600;
}

.borderBottom {
	border-bottom: 1px solid #ebebeb;
}

.overflowHidden {
	overflow: hidden;
}

#main {}

.container {
	max-width: 950px;
}

.nortonLogo {
	min-height: 48px;
	min-width: 98px;
}


.navbar {
	padding: 11px 0 5px 20px;
	margin: 0 0 20px;
	position: relative;
	border-radius: 0px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5) !important;
}

.navbar ul {
}

.navbar .mobileNav {
	position: relative;
	right: 10px;
	padding-right: 6px 35px 0 0;
}

.navbar .mobileNav span {
	float: right;
	padding: 8px;
	font-size: 18px;
	cursor: pointer;
	border: solid #fff 3px;
}

.navbar .mobileNav span a {
	text-decoration: none;
}

.navbar .mobileNav span:hover, .navbar .mobileNav span:active {
	border: solid 3px orange;
	margin: 0px 0px 0px 0px;
}

nav li {
    display: inline;
    font-size: 20px;
}

.navbar-nav li a {
	padding: 15px 20px;
	color: #595959;
}

.navbar-nav li a:hover {
	background-color: #FBC330;
}

.navbar-nav span.glyphicon-user {

	border-radius: 15px;
	padding: 4px;
	background-color: #C8C8C8;
	margin-left: 10px;
	font-size: 18px;
}

.navbar-nav li a.removeIfNoGlyphicon {
	margin-top: 5px;
}

#main input[type="submit"], #main input[type="button"], #main span.clickToggle, #main span.loginToggle, #main .candyBoxProductInfo .addCartPosition a, #emptyCart .emptyCartCopy a {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	margin: 0 0 13px;
	padding: 6px 22px;
	background: #ffc20e;
	border-radius: 3px;
	border: none;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
}

#main #reviewTotal input[type="submit"], #Norton_Cart #form-id input[type="submit"] {
	font-size: 22px;
}

#main #reviewTotal input[type="button"]{
	font-size: 22px;
	background: gray;
}

#main .productInfo input[type="submit"], #main .childItems input[type="submit"], #main .productInfo a.removeCandyRack, #main .childItems a.removeCandyRack {
	background: none;
	font-size: 11px;
	color: #FE6F20;
	padding: 0px 0px 1px 12px;
	margin: 1px 0px 4px 8px;
	border-left: 1px solid #808080;
	border-radius: 0px;
	line-height: 12px;
}

#main .productInfo .addProduct input[type="submit"], #main .productInfo .addProduct a.add-cart {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	float: left;
	margin: 0 0 13px;
	padding: 6px 22px;
	background: #ffc20e;
	border-radius: 3px;
	border: none;
	color: #000;
	font-size: 14px;
	cursor: pointer; 
	text-decoration: none;
}

#main .productInfo .addProduct input[type="submit"]:hover, #main .productInfo .addProduct a.add-cart:hover, #main .candyBoxProductInfo .addCartPosition a:hover {
	margin: 0 0 13px;
	padding: 6px 22px;
	background: #fff553;
	border-radius: 3px;
	border: none;
	color: #000;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;text-decoration:none;
}

#main .productInfo input[type="submit"]:hover, #main .childItems input[type="submit"]:hover, #main .productInfo a.removeCandyRack:hover, #main .childItems a.removeCandyRack:hover{
	background: none;
	color: #FE6F20;
	padding: 0px 0px 1px 12px;
	margin: 1px 0px 4px 8px;
	line-height: 12px;
	text-decoration: underline;
}

/* cart - remove product link style */
#main #Norton_Cart #productSide #removeProduct input[type="submit"], #main #Norton_Cart #productSide #removeProduct a {
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
	color: #595959;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

input#newCartLogOut {
    float: right !important;
    color: #fff !important;
    background-color: initial !important;
    font-size: 12px !important;
    line-height: 24px !important;
    padding: 0 15px 0 0 !important;
    margin: 0 !important;
}

#main .candyBoxEntitlement a, #main .candyBoxEntitlement a:hover {
	float: right;
	margin-right: 25px;
	padding-top: 0;
	padding-bottom: 0;
}

#main .shippingInformation-holder input[type="submit"], #main .billingForm-holder input[type="submit"] {
	margin: 10px 0 0 0;
}

#main input[type="submit"]:hover, #main input[type="button"]:hover, #main span.clickToggle:hover, #emptyCart .emptyCartCopy a:hover {
	background: #fff553;
}

#main .billing-info input[type="submit"], #main .billing-info input[type="button"] {
	margin: 0 0 2px 15px;
}

#main span.clickToggle, #main span.loginToggle {
	float: left;
	margin: 12px 0;
}

#main .accountContentPosition .clickToggleCopy, #main .accountContentPosition .loginContainer {
	margin: 20px 0; 
	float: left; width:100%;
}

.progressIndicator {
	margin-bottom: 35px;
	padding-left: 15px;
}

.progressIndicator span {
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 11px;
}

.progressIndicator span a { 
	color: #595959;
	text-decoration: none;
}

.progressIndicator span.active {
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 4px solid orange;
}

#emptyCart {
	padding-left: 0px;
	padding-right: 0px;
}

#emptyCart .emptyCartCopy {
	top: 3px;
	min-height: 500px;
	padding-top: 20px;
	padding-left: 20px;
	clear: both;
}

#emptyCart .emptyCartMessage {
	position: relative;
	margin: 20px 0 0 0;
	padding-left: 20px;
	font-size: 18px;
}

.login-form h2 {
	background: #F0F0F0 none repeat scroll 0% 0%;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 0 8px 10px;
}

.login-form .accountContentPosition {
	padding: 0 10px;
}

.forgotPassword {
	padding: 2px 0 25px 0;
}

.accountContentPosition .emailCheckbox {
	float: left;
	margin-bottom: 12px;
}

.emailCheckbox input[type="checkbox"] + label, .renewSubscription input[type="checkbox"] + label, .billingSameAsShipping input[type="checkbox"] + label {
	margin: 3px 0px 5px 5px;
	font-weight: 500;
	color: #595959;
	width: 88%;
}

.checkOut {}

.accountInformation, .shippingInformation, .billingInformation, .orderReview {
	width: 100%;
	min-height: 33px;
	/*margin: 10px 0;*/
	float: left;
}

.orderReview #orderReview {
	margin-top: 15px;
}

#orderReview .msOffice {
	font-size: 11px;
	margin-bottom: 15px;
	width: 65%
}

#customerInfo .custInfo, #customerInfo .shippingAdd {
	padding-left: 10px;
}

#paypalLogoInCustomerInfo {
	float: left;
	padding-top: 2px; /* 3px is centered, but it seems too low */
}

.customerInfoRow .infoHeading {
	float: left;
	min-width: 25%;
	color: #191919;
	margin-right: 5px;
}

.customerInfoRow .infoSpan {
	color: #595959;
	padding: 0 2px;
}

.accountInformation .col-xs-12, .accountInformation .col-sm-6 {
	padding: 0 0;
}

.accountInformation .col-sm-6 div.login-form.p10Right {
	padding-right: 10px;
}

.accountInformation .col-sm-6 div.login-form.p10Left {
	padding-left: 10px;
}

.editInfoPanelCopy .billingInfoStored {
	clear: both;
	padding: 0 10px 30px 10px;
}

.orderReview #toggleEULA {
	color: #FE6F20;
	cursor: pointer;
}

.orderReview #toggleEULA:hover {
	text-decoration: underline;
}

/* heading bar style */
.checkOut .headingBar, #emptyCart .headingBar, .miniCart .headingBar, #Norton_Cart .cartContent .headingBar {
	font-size: 20px;
	width: 100%;
	color: #fff;
	padding: 7px 0 7px 10px;
	margin: 2px 0;
	min-height: 33px;
	background-color: #595959;
}

.inactiveHeader {
    background-color: #9B9B9B !important;
}

.checkOut .headingBar .new_user {
	margin-left: 6px;
}

.editInfoLink, span#logInInfoLink, #cart_trigger {
    float: right;
    font-size: 12px;
    line-height: 24px;
    padding-right: 15px;
    cursor: pointer;
}

.editLinkHidden{
    visibility: hidden;
}

.checkOut .accountInformation {}
.checkOut .billingInformation {}

.checkOut .billingInformation .addCC, .checkOut .shippingInformation .editInfoPanelCopy {
	margin: 10px 0;
	overflow: visible !important;
}

.checkOut .billingInformation #agreePaymentInfoPrePopulated {
	margin-top: 20px;
}

.checkOut .orderReview #emeaEula, .checkOut .orderReview #nonEmeaEula {
	float: left;
	margin: 10px 0px;
}
.checkOut .orderReview #emeaEula {
	border-top: 1px solid #dbdbdb;
    padding: 20px 0;
 }   

.checkOut .billingInformation #agreePaymentInfoPrePopulated .col .col-xs-10,
.checkOut .billingInformation #agreePaymentInfoPrePopulated .col .col-sm-11, 
.checkOut .billingInformation #agreePaymentInfoPrePopulated .col .col-md-9,
.checkOut .orderReview #emeaEula .col-xs-12 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.checkOut .billingInformation #agreePaymentInfoPrePopulated .col-xs-12 input,
.checkOut .billingInformation #agreePaymentInfoPrePopulated .col-xs-10 input,
.checkOut .billingInformation #agreePaymentInfoPrePopulated .col-sm-8 input,
.checkOut .billingInformation #agreePaymentInfoPrePopulated .col-md-5 input,
.checkOut .orderReview #emeaEula .col-xs-12 input {
	float: left;
	margin: 0px;
	padding: 0px;
} 

.checkOut .billingInformation #agreePaymentInfoPrePopulated input[type="checkbox"] + label,
.checkOut .orderReview #emeaEula input[type="checkbox"] + label {
	float: left;
	display: inline;
	margin: -1px 0px 0px 0px;
	padding-left: 10px;
	font-weight: 500;
	color: #595959;
	width: 88%;
}

.checkOut .shippingInformation .enterShipping, .checkOut .billingInformation .enterBilling {
	margin-bottom: 20px !important;
}

.checkOut .orderReview {}

.checkOut .orderReview .eulaPanel {
	width: 95%;
}

.checkOut .orderReview .edit-link {
	margin-left: 15px;
	cursor: pointer;
}

/* form-holder and col-holder */
.form-holder .col:first-child {
	padding: 5px 10px 0 10px;
}

.form-holder .col:first-child h2 {
	margin: 0 -41px 13px -15px;
}

.form-holder .row {
	position: relative;
	margin: 0 0 13px;
}

.form-holder .row:after {
	content: "";
	display: table;
	clear: both;
	width: 100%;
}

.form-holder .card-name {
	position: absolute;
	bottom: 5px;
	right: -66px;
}

.form-holder .help-link {
	display: inline-block;
	text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.8);
	font-size: 20px;
	font-weight: 700;
	float: left;
	padding: 8px 0 0px 12px;
	cursor: pointer;
}

.form-holder .help-link:hover {
	opacity: .8;
}

.form-holder input {
	padding: 7px 9px;
	background: #f2f2f2;
	border: solid 1px #e2e2e2;
	outline: none;
	font-size: 12px;
}

.loginForm-holder input {
	width: 50%;

	display:block;
	float:left;
}

.form-holder label {
	color: #191919;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 8px;
}

.form-holder .col-holder {
	overflow: hidden;
}

.form-holder .col-holder .col {
	padding: 0 0 0 4px;
	border: none;
}

.form-holder .col-holder .col:first-child {
	padding: 0;
}

.form-holder .col-holder .col .jcf-select {
	width: 116px;
}

.form-holder .col-style .col:first-child {
	padding: 0 4px 0 0;
	font-style: normal;
}

.form-holder .reset-payment {
	float: right;
	margin: 9px -66px 0 0;
}

.login-form {
	margin: 0 0 13px;
}

/* start of Payment info */
.paymentData {
    float: left;
    width: 100%;
    padding-left: 10px;
}

.paymentData .row label {
	font-weight: 500;
	margin: 0;
	width: 100%;
}

.paymentData .weAcceptCopy {
	font-size: 12px;
	color: #595959;
}

.billingInformation #tcfail_error {
	background-color: #F00;
	color: rgb(255, 255, 255);
	padding: 10px;
	margin: 15px 10px;
	border: 1px solid rgb(195, 195, 195);
	text-shadow: 1px 1px 2px rgb(150, 150, 150);
}

#cardNumberDiv .withImg img {
	margin: 3px 0px 0px 5px;
}

#acceptedPayments1 {
	float: left;
	margin-top: 20px;
}

#acceptedPayments1 .acceptedPayments1 img, #weAccept .acceptedPayments1 img {
	margin-right: 6px;
	margin-bottom: 10px;
}

.shippingInformation-holder input, .billingForm-holder input, .miniCart .couponTotalBox input {
    padding: 7px 9px;
    background: #f2f2f2;
    border: solid 1px #e2e2e2;
    outline: none;
    font-size: 12px;
    margin-top: 5px;
}

.miniCart .couponTotalBox .couponSec input { 
	width:100%;
}

.shippingInformation-holder .row, .billingForm-holder .row {
    margin: 10px 0 0 0;
}

input.username, input.pass {
	width: 55%;
}

.billingForm-holder .help-link, .shippingInformation-holder .help-link {
	background: url('//buy-static.norton.com/estore/images/Non-Product/Icons/icon_question_red_10x14.png') no-repeat;
	display: inline-block;
	vertical-align: top;
	text-indent: -9999px;
	margin: 12px 0 0 10px;
	overflow: hidden;
	width: 10px;
	height: 14px;
	float: left;
	cursor: pointer;
}

.orderReview .help-link, #agreePaymentInfoPrePopulated .help-link {
  background: url('//buy-static.norton.com/estore/images/Non-Product/Icons/icon_question_red_10x14.png') no-repeat;
  padding: 0 3px;
  width: 10px;
  height: 14px;
	cursor: pointer;
}

.billingForm-holder #securityCodeDiv .help-link {
	margin-left: -5px;
}

.billingForm-holder .help-link:hover, .orderReview .help-link:hover {
    opacity: .8;
}

.shippingInformation-holder .zipCodeDiv .errorMessageContainer,
.shippingInformation-holder .phoneDiv .errorMessageContainer,
.billingForm-holder .expMonth, 
.billingForm-holder .expYear,
.billingForm-holder #agreePaymentInfoPrePopulated,
.billingForm-holder #securityCodeDiv .errorMessageContainer,
.billingForm-holder #zipCodeDiv .errorMessageContainer,
.billingForm-holder #phoneDiv .errorMessageContainer,
.billingForm-holder #nsbPhoneDiv .errorMessageContainer,
.billingForm-holder #companyDiv .errorMessageContainer,
.billingForm-holder #taxIdDiv .errorMessageContainer, 
.billingForm-holder #vatDiv .errorMessageContainer,
.billingForm-holder #ibanDiv .errorMessageContainer,
.billingForm-holder #bankCodeDiv .errorMessageContainer {
	padding: 0px;
}

.shippingInformation-holder #zipCodeDiv-ship input,
.billingForm-holder #zipCodeDiv input,
.billingForm-holder #securityCodeDiv input,
.billingForm-holder #companyDiv input,
.billingForm-holder #taxIdDiv input,
.billingForm-holder #vatDiv input,
.billingForm-holder #ibanDiv input ,
.billingForm-holder #bankCodeDiv input  {
	width: 100%;
}

.billingForm-holder #expYear {
	position: relative;
	left: 8px;
}

.billingForm-holder #expYear .errorDiv {
	max-width: 95%;
}

#securityCodeDiv img {
	float: left;
}

.hiddenHelpTextBox {
	clear: both;
	border: 1px solid rgb(150, 150, 150);
	padding: 15px;
	margin: 15px 0px;
	float: left;
}

#securityCodeDiv .cvvImageCopy {
	margin: 5px 0px 7px 195px;
	padding: 0px;
	float: none;
}

#securityCodeDiv .cvvImageCopy span {
	display: block;
}

.closeHelp {
	float: left;
	margin-top: 6px;
	color: #FE6F20;
	cursor: pointer;
}

#securityCodeDiv .cvvImageCopy #hideCvvImageBox {
	margin: 6px 0;
	color: #FE6F20;
	cursor: pointer;
}

#securityCodeDiv .cvvImageCopy #hideCvvImageBox:hover, .closeHelp:hover {
	text-decoration: underline;
}

/* reveiw section */
.subheading {
	background: #f0f0f0;
	margin: 20px 0 5px;
	padding: 10px;
}

.subheading h2 {
	display: inline-block;
	vertical-align: top;
	margin: 0 2px 0 0;
	color: #191919;
	font-size: 14px;
}

.sub-info {	
	overflow: hidden;
	padding: 0 11px 3px;
}

.sub-info .blue {
	cursor: pointer;
}

.sub-info .blue:hover {
	text-decoration: underline;
}

.sub-info-noB {
/*	margin: 0 0 20px;
	padding: 0 10px;
	border-top: 1px solid #dbdbdb;
	margin: 10px 0 10px 10px;
	padding: 20px 0 20px 0px;*/
}

.emeaEula {
margin: -20px 0 20px;
padding: -5px 10px;
}

.sub-info-noB .arHelpLinkCopy {
	margin: 20px 0px;
	padding: 15px 0px 6px 10px;
	border: 1px solid #DBDBDB;
}

.sub-info-noB .arHelpLinkCopy ol {
	margin: 10px 0 10px -10px;
}

.sub-info-noB .arHelpLinkCopy li {
	margin: 5px 0;
}

.sub-info-noB .privacyCompliance {
	padding: 15px 0px 6px 0px;
}

#sub-info-fullB {
	margin: 0 0 20px 0px;
	overflow: hidden;
	padding: 10px 0 10px 8px;
	border: 1px solid #dbdbdb;
}

.sub-info:last-child {
	border-bottom:0px;
	margin-bottom:-5px;
}

.sub-info dl {
	margin: 0;
	overflow: hidden;
	margin: 0 0 6px;
}

.sub-info dt {
	float: left;
	width: 19.3%;
	color: #191919;
}

.sub-info dd {
	display: block;
	overflow: hidden;
	margin: 0 0 0 10px;
}

.sub-info h2, .sub-info-noB h2, .sub-info-fullB h2 {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	color: #191919;
	font-size: 14px;
}

.sub-info h2 {
	font-size: 14px;
	font-weight: 600;
}

.sub-info-noB h2 {
	margin-bottom: 5px;
	font-weight: 600;
	color: #595959;
}

.sub-info-border-top {
	border-top: 1px solid #dbdbdb;
	margin: 10px 0 0 10px;
	padding: 20px 0;
}

.sub-info a, .sub-info-noB a, .sub-info-fullB a {
	color: #FE6F20;
}

.sub-info a.blue {
	color: #fe6f20;
}

.sub-info .holder {
	overflow: hidden;
}

.sub-info .holder .col {
	margin: 0 0 12px;
	float: left;
	padding: 0 6px 0 10px;
}

.sub-info .holder .col:first-child {
	padding: 5px 10px 0 0;
}

.sub-info .holder p {
	margin: 0 0 5px;
}

.nortonEULA {
	float: left;
}

.nortonEULA:first-child {
	margin-bottom: 10px;
}

.nortonEULA img {
	float: left;
}

.nortonEULA .eulaTextPos {
	float: left;
	position: relative;
	left: 10px;
}

.nortonEULA .eulaTextPos > span {
	display: block;
}

.border-style {
	border: none;
	padding: 0 10px;
	margin: 0 0 17px;
}

.price-box {
	color: #c81a00;
	width: 100%;
	margin-top: 5px;
}

.price-box tr {
	text-align: right;
}

.price-box tr {
	color: #595959;
	
}

.price-box tr:first-child {
	color: #191919;
	font-weight: bold;
	font-size: 14px;
}

.price-box td {
	/* padding: 5px 0 2px 10px; */
}

.price-box .reviewProration {
	padding-top: 4px;
}

.price-box #actualPriceValue {
	width: 1%;
	padding-left: 15px;
	white-space: nowrap;
}

.price-box .style-cell {
	width: 136px;
}

/* subtotal styles */
.subtotal-holder {
	clear: both;
}

.subtotal-box, #Norton_Cart .cartTotal {
	overflow: hidden;
	background: #fff8e0;
	width: 100%;
	border: 1px solid #ffebab;
	padding: 11px 14px;
	margin: 0 0 20px;
	float: left;
}

.subtotal-table {
	font-size: 18px;
	float: left;
	width: 100%;
	padding-right: 13px;
}

.subtotal-table .subscription-style-mini {
	font-size: 14px;
}

.subtotal-table .subscription-style-mini #subscription-ar-price {
	vertical-align: top;
}

.subtotal-table .subscription-style, #Norton_Cart .cartTotal .subscription-style-overlay {
	font-size: 14px;
}

.subtotal-table table, #Norton_Cart .cartTotal table {
	width: 100%;
}

.subtotal-table tr td:first-child {
	text-align: left;
 }

#reviewTotal .subtotal-table tr td:first-child, #Norton_Cart .cartTotal tr td:first-child {
	text-align: right;
	width: 75%;
}

#reviewTotal .subtotal-table tr td:last-child, #Norton_Cart .cartTotal tr td:last-child{
    white-space: nowrap;
}

.subtotal-table td, #Norton_Cart .cartTotal tr td:first-child td {
	padding: 3px 0;
	text-align: right;
}

.subtotal-table .subtotal-style,
.subtotal-table .shipping-style,
.subtotal-table .tax-style,
#Norton_Cart .cartTotal .subtotal-style,
#Norton_Cart .cartTotal .tax-style {
	color: #666;
}

.subtotal-table .tax-style td, #Norton_Cart .cartTotal .tax-style td {
	padding: 3px 0 12px;
}

.subtotal-table .savings-style td, #Norton_Cart .cartTotal .savings-style td {
	padding: 3px 0 13px;
}

.subtotal-table .savings-style, #Norton_Cart .cartTotal .savings-style {
	color: #c81a00;
}

.subtotal-table .total-style, #Norton_Cart .cartTotal .total-style {
	color: #000;
	font-weight: bold;
}

.miniCart .subtotal-table .border-line {
	padding: 40px 0;
	border-top: 1px solid #e7e6e2;
}

.subtotal-table .total-style td, #Norton_Cart .cartTotal .total-style td {
	padding: 10px 0 0 0;
	border-top: 1px solid #e7e6e2;
}
#vatCart td {	
	border-top: none;
}

.subTotal .vat-style .vatStyle, #Norton_Cart .cartTotal .vat-style .vatStyle {
	font-size: 14px;
}

.link-holder {
	text-align: right;
	margin: 0 0 50px;
}
/*Subscription activation message OPS-75601*/
.activateMessage, .nonARactivateMessage, .ibPaymentMessage {
	float: right;
	padding-bottom: 15px;
}

.ibPaymentMessage {
	font-weight: 600;
}

.link-holder .order-link {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	display: inline-block;
	vertical-align: top;
	padding: 15px 25px !important;
	background: #ffc20e;
	font-size: 18px;
	color: #000;
	border-radius: 3px;
	clear: both;
	float: right;
}

.link-holder .order-link:hover {
	text-decoration: none;
	background: #fff553;
}

/* mini-cart */
#main .miniCart {
	padding-right: 0px;
}

.miniCart .headingBar {
	margin-bottom: 15px;
}

.miniCart h2 {
	color: #808080;
	margin: 0 0 4px;
	font-size: 14px;
	font-weight: 600;
}

/*OPS-83579 */
.removeCore {
	position: relative;
	top: -15px;
	font-size: 11px;
	margin-left: -10px;
 	margin-bottom: 5px;
 	padding: 10px 10px 20px 10px;
 	background-color: #f0f0f0;
	}
	
.removedCoreProd, .addedCoreProd, #Norton_Cart .removedCoreProdCart, #Norton_Cart .addedCoreProdCart {
	font-weight: 600;
	color: #FE6F20
}

#closeLink{
	float: right;
	padding: 5px;
	cursor: pointer;
}

.discountRow.newCartSec {
	float: right;
	width: 54%;
}

.miniCart .productContainer {
	float: left;
	padding: 0 0 0 10px;
}

.miniCart .productContainer .acceptedPayments1 {
	float: left;
}

.miniCart .productContainer .acceptedPayments1 > span {
	display: block;
	margin-bottom: 10px;
}

.miniCart .productInfoBox {
	width: 100%;
	float: left;
}

.miniCart .productInfoBox img {
	float: left;
}

.miniCart .productInfoBox .productInfoStyle {
	font-size: 11px;
}

.miniCart .productInfoBox .productInfoBoxPrice {
	text-align: right;
	margin: 4px 0 20px 0;
}

.miniCart .productInfoBox .productInfoBoxPrice .cartProration {
	color: #595959;
	font-size: 12px;
}

.miniCart .subscriptionTerms {
	color: #808080;
	font-size: 11px;
	margin-top: 3px;
}

.miniCart .subscriptionPricing {}

.miniCart .subscriptionEntitlement {}

/* remove link action and styles */
.miniCart .productInfo #osSupport a {
  color: #808080;
  text-decoration: none;
}

.miniCart .productInfoBox .childItems {
	clear: both;
	margin-top: 10px;
}

.miniCart .productInfo, .miniCart .childItems .text {
	padding-left: 60px;
	padding-right: 10px;
	width: 99%;
	margin-bottom: 0px;
}

.mini-cart .childItems .productInfo {
	margin-bottom: 42px;
}

.miniCart #candyRack .productInfo {
	padding-left: 60px;
	width: 99%;
	margin-bottom: 30px;
	font-size: 12px;
	font-weight: 600;
}

.miniCart .productInfo .procuctInfoRemove {
}

.miniCart .productInfo p {
	line-height: 1.3;
}

.miniCart .productInfo h2 a {
	text-decoration: none;
	color: #808080;
}

.miniCart .productInfoBoxPrice {
	color: #000;
}

.miniCart .productInfoBoxPrice .name {
	margin: 0 15px 0 0;
}

.miniCart .productInfoBoxPrice .price {
}

.miniCart .productInfoBox .sale-style {}

.miniCart .productInfoBox .total-style {
	font-weight: 600;
}

.miniCart .productInfoBox .strike-style {}

.miniCart p {
	margin: 1px 0;
	color: #808080;
	font-size: 11px;
}

.miniCart .couponRow {
	color: #fe6f20;
	padding-right: 2px;
}

.miniCart #haveCoupon > a {
	float: left;
	font-size: 12px;
	color: #fe6f20;
	margin-left: 10px;
	padding: 12px 0;
}


#mini-Cart .couponTotalBox {
	padding: 10px 0 20px;
	border-top: 1px solid #ebebeb;
	float: left;
  top: 10px;
  position: relative;
  width: 96%;
}

input.couponCode {
	width: 65%;
}

.table-style {
	margin: 0 0 6px;
}

.table-style .col:first-child {
	margin: 0 0 35px;
}

.sponsor-list {
	float: left;
	width: 100%;
	margin: 20px 0;
	top: 20px;
}

.sponsor-list img {
	margin-right: 20px;
}

#candyRack .productInfoBoxPrice, #candyRack .addProduct {
	position: relative;
	left: -60px;
}

#candyRack .addProduct {
	float: left;
	position: relative;
	left: -60px;
	font-weight: 500;
}

#candyRack .productInfo p {
	margin: 0 0 4px 0;
}

#candyRack .productInfo .addProduct a {
	white-space: nowrap;
}

.candyRack {
	float: left;
	width: 100%;
  background-color: #f8f8f8;
  border: 1px #e8e8e8 solid;
  padding: 20px 10px 7px 10px;
  margin: 8px -10px 0 0px;
}

.candyRack img {
    float:left;
}

.candyRack h2 a {
    color: #808080;
    font-size: 16px;
    line-height: 19px;
}

.candyRack .text {
    float:left;
    padding-top:2px;
    padding-left:17px;
    width:170px;
}

.candyRack .text p {
    font-size:12px;
    margin-top:7px;
    line-height:16px;
}

.candyRackQty, .candyRackEnt {
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
}

.childItems .candyRackQty {
	font-weight: 500;
}

.miniCart .productInfo p span {
	margin-right: 5px;
}

#candyRack .productInfo .candyRackEnt {
	clear: both;
	position: relative;
	left: -60px;
	margin-top: 35px;
}

#candyRack .productInfo .candyRackEntPositioning {
	clear: both;
	float: left;
	position: relative;
	width: 120%;
	left: -60px;
	margin-bottom: 14px;
}

.candyRackQty {
    margin-top:7px;
}

.candyRackPrice {
    color: #000;
    font-weight: bold;
    font-size: 14px
}

#candyRack .productInfo .candyRackPrice {
    margin: 22px 0;
}

/* MF Cart */
#Norton_Cart {
	padding-left: 15px;
	padding-right: 0px;
}

#Norton_Cart .progressIndicator {
	position: relative;
	top: 11px;
	left: 12px;
	margin: 0;
}

#Norton_Cart #removeCoreProductMessagingCart {
	float: left;
	font-size: 11px;
}

#Norton_Cart #coreProductMsgCart, #emptyCartSingleton {
	position: relative;
	margin: 20px 0 0px 0;
	padding: 15px 20px;
	font-weight: 500;
 	background-color: #f0f0f0;
}

/*#Norton_Cart .emptyCartMessage {
	position: relative;
	margin: 35px 0 0 0;
	font-size: 16px; 
}*/

#Norton_Cart #coreProductMssgCart > span {
	padding-right: 50px;
}

#Norton_Cart #closeLinkCart {
	width: 100%;
	text-align: right;
}

#Norton_Cart .pointer {
	margin-right: 5px;
	cursor: pointer;
}

#Norton_Cart .toBilling {
	float: right;
	cursor: pointer;
}

#Norton_Cart .proceedPosition {
	float: right;
	position: relative;
	top: 15px;
	width: 100%;
}

#Norton_Cart .cartContent {}

#Norton_Cart .cartContentContainer {}

#main #Norton_Cart .cartContentContainer .procuctInfoRemove input[type="submit"] {
	background: none;
	font-size: 12px;
	color: #595959;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	border: none;
	border-radius: 0px;
	line-height: 13px;
	z-index: 500;
}

#Norton_Cart #productSide {
	padding-right: 20px;
}

#Norton_Cart #productSide.col-sm-12 {
	padding-right: 0px;
}

#Norton_Cart .productBox {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#Norton_Cart .cartProductContainer {
	float: left;
	width: 100%;
	margin-top: 10px;
	padding-bottom: 20px;
}

#Norton_Cart .removeProductText {
	float: right;
	font-size: 12px;
	width: 100%;
	text-align: right;
	margin-bottom: 5px;
}

#Norton_Cart span#removeProduct {
	cursor: pointer;
	padding-right: 15px;
}

#Norton_Cart .cartBoxShot img {
	float: left;
	margin-right: 15px;
}

#Norton_Cart .cartProductInfo {
	font-size: 12px;
}

#Norton_Cart .cartProductInfo > span {
	display: block;
	margin: 0px 0px 0px 75px;
}

#Norton_Cart .cartProductInfo > span a, #Norton_Cart .cartProductInfo > span a:hover {
	line-height: 16px;
	color: #595959;
	text-decoration: none;
}

#Norton_Cart .cartProductInfo .cartProductName {
	font-size: 16px !important;
	font-weight: 600;
}

#Norton_Cart .cartProductInfo .qty {
	font-weight: 600;
}

.cartProductInfo input {
	width: 25px;
}

#Norton_Cart #cartOsSupport a {
	color: #595959;
	text-decoration: none;
}

#Norton_Cart .childItems {
	float: left;
	margin-top: 10px;
	width: 100%;
}

#Norton_Cart .rightCol > span {
	display: block;
	text-align: right;
	font-size: 12px;
}

#Norton_Cart .rightCol .overlayProration {
	padding-top: 3px;
}

#Norton_Cart .rightCol .originalPrice {
	color: #000;
	font-weight: 600;
	margin-top: 20px;
}

#Norton_Cart .couponTotalBox {
	float: right;
	font-size: 12px;
	padding: 25px 15px 20px 0px;
  	width: 100%;
}

 #Norton_Cart .couponRow {
 	float: right;
 }

#Norton_Cart .couponSec {
	float: right;
	width: inherit;
}

/*#Norton_Cart .couponSec {
	width: min-content;
	width: -moz-min-content;
	width: -webkit-min-content;
}*/

#Norton_Cart #haveCouponFromCart {
	float: right;
	line-height: 29px;
	padding-left: 15px;
}

#Norton_Cart input#couponCode {
	background: rgba(226, 226, 226, 0.5);
	padding: 0 20px 0 10px;
}

#cartAcceptedPayments {
	float: right;
	margin-top: 35px;
	margin-bottom: 5px;
}

#cartAcceptedPayments .weAcceptCopy {
	font-size: 12px;
	line-height: 32px;
	color: #595959;
}

#Norton_Cart .sponsor-list {
	float: right !important;
	margin-bottom: 50px !important;
}

#Norton_Cart .sponsor-list img {
	float: right;
}

#Norton_Cart .sponsor-list img:first-child {
	margin-right: 0px;
}

#Norton_Cart #orderSide.col-sm-4, #orderSide.col-xs-12, #productSide.col-sm-8, #productSide.col-sm-12 {
	padding: 0;
}

#Norton_Cart #orderSide.col-sm-4 {
	left: 11px;
}

#Norton_Cart #checkout {
	padding: 15px 25px;
}

/* / norton cart overlay */

/* start loading spinner overlay */
.spinnerContainer {
	position: fixed;
	z-index: 100;
	top: 0px;
	margin-top: 80px;
	width: 100%;
	height: 100%;
	background: #fff;
/*	background:rgb(255,255,255);  
    background: transparent\9;  
    background:rgba(255,255,255,0.8);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1; */
}

.coversHeader {
	position: relative;
	top: -80px;
	height: 80px;
	width: 100%;
}

.spinnerBorder {
	position: relative;
	top: 300px;
	width: 154px;
	margin: 0 auto;
	padding: 1px;
	border: solid #cccccc 1px;
	border-radius: 5px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.9);
}

.spinnerBorder1 {
	position: relative;
	top: 250px;
	width: 234px;
	margin: 0 auto;
	padding: 1px;
	border: solid #cccccc 1px;
	border-radius: 5px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.9);
}

.spinnerBox {
  position: relative;
  margin: 0 auto;
  padding: 22px;
  width: 150px;
  height: 150px;

  /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  ### remove before live */
  zoom: 1;
}

.spinnerToSpin3 {
  float: left;
  background: url('//buy-static.norton.com/estore/images/Non-Product/Misc/img_spinner3_94x94.gif') no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.spinner-spin {
  font-size: 50px;
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#submitOrderWait {
	width: 230px;
	margin: 0px auto;
	text-align: center;
	padding: 0px 15px 15px;
	font-size: 12px;
}

/* / loading spinner overlay */

#candyRack .frequentlyPurchased {
	float: left;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 25px 0px 0px 0px;
}

#Norton_Cart .frequentlyPurchased {
	float: left;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin: 0px 0px 8px 8px;
}

.candyBox {
	float: left;
	position: relative;
	left: 8px;
	padding: 20px 10px 7px 10px;
	background-color: #f8f8f8;
  border: 1px #e8e8e8 solid;
	font-size: 12px;
	width: 94%;
}

.candyBox .cartImagePosition {
	float: left;
}

.candyBox .candyBoxProductInfo {
	margin-left: 75px;
}

.candyBox .candyBoxProductInfo > span {
	display: block;
}

.candyBox .candyBoxProductInfo > span a, .candyBox .candyBoxProductInfo > span a:hover {
    line-height: 16px;
    color: #595959;
    text-decoration: none;
}

.candyRackOverlay .candyBoxName {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 16px;
    font-weight: 600;
}

.candyBox h2.candyBoxName a, .candyBox h2.candyBoxName a:hover {
	float: left;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 3px;
	color: #808080;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
}

.candyBox .candyBoxDescription {
	float: left;
	margin-top: 10px;
	color: #808080;
	font-size: 12px;
	line-height: 15px;
}

.candyBox .positionMargin {
	float: left;
	margin-left: -75px;
}

.candyBox .candyBoxEntitlement {
	float: left;
	width: 100%;
	margin: 10px 0 5px 0px;
	line-height: 20px;
	color: #808080;
	font-size: 12px;
	font-weight: 600;
}

.candyBox .candyBoxQty {
	clear: left;
	font-size: 12px;
	font-weight: 600;
	color: #808080;
}

.candyBox .candyBox-saleCopy {
	margin: 15px 0px 10px 0px;
	color: #000;
	font-weight: 600;
	font-size: 14px;
}

.candyBox .addCartPosition {
	margin: 25px 0;
}

#main .candyBox .candyBoxEntitlement .add-cart {}

.candyBox .candyBoxProtection {
}

.bottom {
	background: #E2E2E2;
	padding:15px 0;
}

/*.bottom .container p {
	border-right: 1px solid #c8c8c8;
	display: inline-block;
  vertical-align: middle;
}*/

.footer-area {
	color: #888;
	background-color: #E2E2E2;
	margin-top: 35px;
	padding: 20px 0 20px 30px;
	font-size: 12px;
	line-height: 32px;
}

.footer-area .symLogo {
	background: url('"${properties.fileReference}" alt="symantec_image"') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-right: 20px;
	width: 97px;
	height: 27px;
	float: left;
}

.footer-area .symCopyRight {
	float: left;
}

.footer-area .footer_links {
	float: left;
	margin-left: 10px;
}

.footer-area .footer_links span {
	padding: 0 8px;
	border-left: solid 1px #888;
}

.footer-area .footer_links a {
	color: #888;
	line-height: 16px;
}

#euVatToC, #merchantCopy{
	padding: 40px 0 0 40px;
	margin-bottom: -15px;
}

#euVatToC #viewEuVat > span, #merchantCopy #viewMerchantText  > span {
	color: #FE6F20;
	cursor: pointer;
}

#euVatToC #euVatCopy, #merchantCopy #merchantText {
	margin: 15px 0 20px 0px;
	overflow: hidden;
	padding-top: 15px;
}

/* start AR messaging popup OPS-62471 */
#subscriptionArMessage {
	display: block;
	position: fixed;
	left: 20%;
	width: 60%;	
	bottom: 0px;
	margin: 0px;
	padding: 25px 25px 5px 25px;
	border-top: solid 1px rgb(170, 170, 170);
	border-right: solid 1px rgb(170, 170, 170);
	border-left: solid 1px rgb(170, 170, 170);
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	z-index: 500;
	background: rgb(221, 221, 221);
	margin: 0px;
	color: rgb(102, 102, 102);
}

#subscriptionArMessage #ArCloseX {
	float: right;
	position: relative;
	top: -12px;
	right: -10px;
	width: 26px;
	height: 26px;
	background: #fff;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	cursor: pointer;
	margin-bottom: -20px;
	z-index: 100;
	font-size: 16px;
	font-weight: 600;
	line-height: 27px;
	text-align: center;
}

#subscriptionArMessage #ArCloseX:hover {
	font-size: 18px;
}

#subscriptionArMessage #subscriptionArMessageContainer {
	clear: both;
}

#subscriptionArMessageContainer {
	position: relative;
	top: -14px;
}

#subscriptionArMessage h3 {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

#subscriptionArMessage #subscriptionArSeeMore {
	color: #FE6F20;
	cursor: pointer;
}

#subscriptionArMessage #subscriptionArSeeMore:hover {
	text-decoration: underline;
}

#subscriptionArMessage ol {
	/* list-style-position: inside; */
	padding-left: 20px;
}

#subscriptionArMessage ol li {
	clear: both;
	list-style-type: decimal;
	margin: 4px 0;
}
/* / AR messaging popup OPS-62471 */

/*CSS for validation*/
#comboBilling .contactInfoDiv .label {
    padding-right: 4px;
    text-align: right;
}
#comboBilling .existLogin {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
}
#comboBilling {
    background-color: #ffffff;
    
    padding: 0;
}
#comboBilling .errorDiv {
    background-color: red;
    clear: both;
    color: #fff;
    font-size: 12px;
    margin-left: 0;
    padding: 4px 5px 4px 10px;
    text-align: left;
}

#comboBilling #phoneDiv .errorDiv {
	width: 100%;
} 

#comboBilling .inputRow input {
    color: #000;
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #e2e2e2;
    font-size: 12px;
    outline: medium none;
    padding: 7px 9px;
}

#comboBilling .inputRow input.email, #comboBilling .inputRow input.verifyEmail {
    background: none repeat scroll 0 0 #fff7d0;
}

#comboBilling .inputRow input.redBorder {
    border: 1px solid #ffa20d;
}

#comboBilling .inputRow label {
    padding: 9px 0 0;
    text-align: left;
}

#comboBilling .labelLeftAligned {
    margin-left: 0;
}

#comboBilling .inputRow select {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #e2e2e2;
    color: #000;
    font-size: 12px;
    outline: medium none;
    padding: 7px 9px;
    
}
#comboBilling .inputRow select.redBorder {
    border: 1px solid #f00;
}
#comboBilling .paymentInfoDiv {
    background-color: #ffffff;
}
#comboBilling .paymentInfoDiv .inputRow input {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    float: left;
    height: 21px;
    padding: 0 3px;
    width: 265px;
}
#comboBilling .paymentInfoDiv .inputRow input.redBorder {
    border: 1px solid #f00;
}
#comboBilling .paymentInfoDiv {
    clear: both;
    display: block;
    margin: 23px 45px;
 
}
#comboBilling .paymentInfoDiv .inputRow img {
    margin: 3px;
}
#comboBilling .alreadyAccount {
    margin: 0 0 40px 204px;
}

.discountRow{ margin:10px 0;}
.discountRow span#discount, #overlayDiscount{float:left;}
.discountRow span#discountAmount, #overlayDiscountAmount{float:right; margin-right:5px;}
span.removeButton{float:left; width:100%; padding:3px 0;}
span.removeButton a{ color:#fb731b; font-size:12px; line-height:14px;}

.couponSec {
	float: left;
	width: 70%;
}

.couponSec .couponErrorDiv {
	padding: 3px 0 3px 10px;
	background: red;
	color: #fff;
	font-size: 12px;
	line-height: 1.4;
	display: none;
}

#comboBilling .redBorder{
    border: 1px solid #F00;
}
.cvvRc {
	box-shadow: 0 0 10px rgba(0,174,239, 0.5);
		-moz-box-shadow: 0 0 10px rgba(0,174,239, 0.5);
		-webkit-box-shadow: 0 0 10px rgba(0,174,239, 0.5);
	background-color: rgb(229, 247, 253) !important;
	border-color: rgb(0, 174, 239) !important;

}

#enterCVV { 
	float: left;
	color: #585858;
	font-weight: 600;
	padding-top: 12px;
}

.clearfix:after {visibility: hidden; display: block;font-size: 0; content: " "; clear: both; height: 0;}

#emailUserVal{float:left; width:80%; word-wrap:break-word;}


/* sudo-IE10 fixes - higher level of specificity since we cannot target IE10 directly woth conditionals */
.editInfoPanelCopy .form-holder .emailCheckbox input, .editInfoPanelCopy .form-holder .renewSubscription input, .editInfoPanelCopy .form-holder .billingSameAsShipping input{
	background-color: #fff;
	border: none;
	padding: 0px;
}


/* IE fixes - nothing but IE below this please */
#IE9shim .form-holder .emailCheckbox input   , #lteIE8shim .form-holder .emailCheckbox input, #IE9shim .form-holder .renewSubscription input, #IE9shim .form-holder .billingSameAsShipping input{
	background-color: #fff;
	border: none;
	padding: 0px;
}

#IE9shim .spinnerToSpin3, #lteIE8shim .spinnerToSpin3  {
	background-image: url("//buy-static.norton.com/estore/images/Non-Product/Misc/img_spinner_ie_94x94.gif");
}

#lteIE8shim .mobileNav {
	display: none;
}

#lteIE8shim .navbar {
	border-bottom: 2px ridge gray;
}

/***** other payments section *****/

#paypalImg, #boletoImg, #oxxoImg, #offlinePayment, #directDebit, #netBanking, #qiwi, #yandex, #webmoney, #PR24{
	margin-top: 5px;
	margin-bottom: -100%;
}

#paymentMode img {
	float: left;
}

.ppTextMessage, .boletoTextMessage, .oxxoTextMessage, .offlineTextMessage, .directDebitMessage, .netBankingMessage, .qiwiMessage, .yandexMessage, .webmoneyMessage, .PR24Message {
	margin-top: -2px;
	padding-left: 63px;
}


.alpagoText, .dineromailText, .netProphetText, .inContextText {
	padding: 0px;
}

tr.subscriptionMessageReview #subscriptionMessageReview {
	padding-top: 5px;
}

tr.subscriptionReview, tr.subscriptionMessageReview {
	font-size: 11px;
	color: #808080;
}

#cardNamedd,
#cardName,
#NotSupportedText-3,
#NotSupportedText-4,
#NotSupportedText-1,
#NotSupportedText-2,
#countryNameIddd,
#countryNameId {
  display: inline-block;
}

.emailCheckbox{
  float: right;
  width: 53%;
  padding-bottom: 15px;
}

.renewSubscription{
	padding-bottom: 15px;
}

.emailCheckbox .col-xs-12, .renewSubscription .col-xs-12, .billingSameAsShipping .col-xs-12 {
  padding: 0;
}

.emailCheckbox .col-xs-12 input[type="checkbox"], .renewSubscription .col-xs-12 input[type="checkbox"], .billingSameAsShipping .col-xs-12 input[type="checkbox"] {
  float: left;
}

.emailCheckbox .col-xs-12 label, .renewSubscription .col-xs-12 label, .billingSameAsShipping .col-xs-12 label {
  float: left;
  width: 96%;
  margin: 0;
  text-align: left;
  padding: 0 0 0 5px;
}
#eulaError { 
	background:red; 
	padding:4px 5px 4px 10px; 
	clear:both; 
	color:#fff; 
	font-size:12px; 
	margin-bottom:15px;
}

#mobileNumber, #nsbMobileNumber, #mobileNumber-ship {
	width: 75%;
}

#callingCodeContainer{
	position: relative;
}

#callingCode, #callingCodeShip{
	width: 25%; 
	float: left;
	cursor: pointer;
	color: rgba(242,242,242,0);
}

#callingCode option, #callingCodeShip option {color:#808080;}

#callingCodeValue, #callingCodeValueShip{
	background-color: rgba(242,242,242,1);
	position: absolute;
	top: 6px;
	left: 1px;
	height:calc(29px - 2px); 
	width:calc(25% - 21px);
	padding: 7px 0px 0px 6px; 
	z-index: 9;
	pointer-events: none;
	display: inline-block;
	font: 100% Arial, Helvetica, sans-serif;
	color: #808080;
	font-size: 12px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#callingCodeValue, #callingCodeValueShip {
    	width:calc(25% - 2px);
	}
}

#comboBilling .phoneCode.redBorder{border-right:none;}

#CallingCodelist, .customDropDownSkin {
	position: absolute; 
	top:34px; left:0;
	width: 100%;
	padding-left: 0;
	height: 350px;
	overflow:	auto;
}

/* TODO generalize */
#CallingCodelist {
	padding: 0 0;
	margin: 0 0;
	border: 0;
	border-radius: 0 0;
	box-shadow: 0 0 0;
}

/* TODO generalize */
.customDropDownSkin {
	display: none;
}

#CallingCodelist li, .customDropDownSkin li {
	background: #f2f2f2;
	display: block;
	padding: 4px;
	border-top: none;
	cursor: pointer;
	font-size: 12px;
}

#CallingCodelist li:hover, .customDropDownSkin li:hover {
	background: #d9d9d9;
}

/*OPS-84917*/
div.removeITP {
	display: none;
	font-size: 11px;
    margin: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    /*background-color: #faebd7;*/
	}
	
h2#removedITP {
	font-size: 11px;
	display: inline;
}

#billingInfoNextButton {
	text-decoration:none; 
}

#billingInfoNextButton span {
	display: none;
}

#overLayOuter {
	position: fixed;
	z-index: 15;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#overLay {
	position: fixed;
	z-index: 15;
	top: 27%;
	left: 38%;
	width: 400px;
	height: 180px;
	background: #fff;
	display: none;
}

.headingBar{display:block; padding:11px; background:#333; margin-bottom:3px; color:#fff;}
.headingBar #userLoginId{float:left;}
#headerVariable{float:left; padding-left:3px;}
#overLay p{display:block; padding-bottom:8px; padding:15px;}
#buttons{ display:block; margin:15px 50px;}

#conSession {
    margin-left: 200px;
    padding: 9px 28px;
    background: #ffc20f;
    color: #000;
    border: none;
}

#endSession {
    float: left;
    position: absolute;
    margin-left: -33px;
    padding: 8px 20px;
    background: #fff;
    color: #000;
    border: 1px solid #333;
}

.preOrder {
	font-size: 12px;
    color: red;
    font-weight: bold;
}

.freePurchase {
	padding-bottom: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

.freeShippingPreOrder {
	color: red;
	font-weight: bold;
}

.freeShipping {
	float: left;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
	padding: 30px 0px 30px 0px;
	font-size: 12px;
}

.billingSameAsShipping {
	padding: 15px 0px 30px 0px;
}

.hardwareQty {
	padding-bottom: 10px;
}

.shipHeading {
	color: #191919;
}

.shipDetail {
	float: left;
}

.shipDetail > span {
	display: block; 
}

.reviewTagLine {
	padding-bottom: 10px;
}

#geoLocationMsg{
	display: none;
}

.inContextText {
	padding-top: 12px;
}
.PayPalOrderText {
	padding-top: 6px;
}