body{
	font-family: Arial, Helvetica, sans-serif;
}

p{
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
}

h2 {
	background: #595959;
	color: white;
	background-size: auto;
	text-align: left;
	font-size: 18px;
    font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2;
	padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h3{
	background: rgb(230, 230, 230);
	color: black;
	background-size: 50%;
	text-align: left;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 2;
	padding-left: 10px;
}

a{
	color: orange;
	font-size:14px; 
	text-decoration: none;
	line-height: 250%;
}

a:focus, a:hover{
	text-decoration: underline;
    outline: none;
}

input.button, input.button1{
	background-color: #ffc20f;
	border: none;
	color: black;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
}

input.button:hover, input.button1:hover{
	background-color: #fff653;
	color: black;
}

input.text, select.text{
	width:100%;
	height: 25px;
	font-size:11px;
	padding-left: 8px;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	outline: none;
}

input.text:focus {
	border: 1px solid #aaa;
	outline: none;
}

div.left{
	float: left;
	width: 270px;
    display: block;
}

div.right{
	float: right;
	width: 270px;
    display: block;
}

b{
	font-style: normal;
	font-size: 12px;
	font-stretch: normal;
}

b.big{
	line-height: 250%;
}

b.head{
	font-style: normal;
	font-size: 16px;
	font-stretch: normal;
    color: red;
}

img.cvvimage{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p.divdata1{
    margin-left: -35px;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
}
p.divdata1hide{
    color: orange;
    margin-left: -35px;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
}

p.divdata1hide:hover, p.divdata2hide:hover{
    text-decoration: underline;
}

p.divdata2{
    margin-left: 25px;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	margin-right: -150px;
}

p.divdata2hide{
    color: orange;
    margin-left: 25px;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	margin-right: -150px;
}

#eml, #pswd{
	background-color: red;
	color: #fff;
    font-size: 12px;
    text-align: left;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 8px;
	clear: both;
}

#eml1, #pswd1, #pswd2{
	background-color: red;
	color: #fff;
	font-size: 12px;
	margin-left: 0;
	text-align: left;
	padding-left: 8px;
	line-height: 200%;
	margin-top: 0px;
}

#cname, #cnumber, #scode, #cityid, #stateid, #mobileNumberID{
	background-color: red;
	color: #fff;
	font-size: 12px;
	margin-left: 0;
	text-align: left;
	padding-left: 8px;
	line-height: 200%;
	margin-top: 0px;
	width: 250px;
}

#scode, #expmonth, #zipCodeid{
	background-color: red;
	color: #fff;
	font-size: 12px;
	margin-left: 0;
	text-align: left;
	padding-left: 8px;
	line-height: 200%;
	margin-top: 0px;
	width: 150px;
}

#expyear{
	background-color: red;
	color: #fff;
	font-size: 12px;
	margin-left: 0;
	text-align: left;
	padding-left: 8px;
	line-height: 200%;
	margin-top: 0px;
	width: 90px;
}